<main id="main" aria-role="main">
  <section class="section">
    <div class="container pb-6">
      <%= render partial: 'partials/notifications' %>
      <div class="columns mt-4">
        <div class="column"></div>

        <div class="column is-three-quarters">

          <nav class="level">
            <div class="level-item">
              <%= link_to 'New Entry', new_entry_path, class: 'button is-info' %>
            </div>
          </nav>
          <table class="table">
            <thead>
              <tr>
                <td>Short UID</td>
                <td>Type</td>
                <td>Description</td>
                <td>Published</td>
                <td>Created</td>
                <td>Updated</td>
              </tr>
            </thead>

            <tbody>
              <% @entries.each do |entry| %>
                <tr>
                  <td><%= link_to entry.short_uid, entry_path(entry) %></td>
                  <td><%= entry.entry_type.titleize %></td>
                  <td><%= entry.name.present? ? entry.name : (entry.summary.present? ? entry.summary : entry.content) %></td>
                  <td><%= entry.published_at.present? ? time_tag(entry.published_at) : 'Unpublished' %></td>
                  <td><%= time_tag(entry.created_at) %></td>
                  <td><%= time_tag(entry.updated_at) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="column"></div>
      </div>
    </div>

    <div class="container">
      <div class="columns">
        <div class="column"></div>

        <div class="column is-one-third"><%= paginate @entries %></div>

        <div class="column"></div>
      </div>
    </div>
  </section>
</main>
