<main id="main" aria-role="main">
  <section class="section">
    <div class="container pb-6">
      <%= render partial: 'partials/notifications' %>
      <div class="columns mt-4">
        <div class="column"></div>

        <div class="column is-three-fifths">
          <div class="card">
            <div class="card-content">
              <article class="media">
                <div class="media-content">
                  <% if @entry.name.present? %><h1><%= @entry.name %></h1><% end %>

                  <% if @entry.summary.present? %>
                    <div class="content">
                      <small><%= @entry.summary %></small>
                    </div>
                  <% end %>

                  <% if @entry.content.present? %>
                    <div class="content">
                      <%= @entry.content %>
                    </div>
                  <% end %>

                  <div class="content">
                    <small>
                      <%= @entry.published? ? time_tag(@entry.published_at) : 'Unpublished' %>
                    </small>
                  </div>

                  <nav class="level">
                    <div class="level-left">
                      <div class="level-item">
                        <%= link_to 'Edit', edit_entry_path(@entry), class: 'button is-info' %>
                      </div>

                      <div class="level-item">
                        <%= button_to 'Delete', entry_path(@entry), class: 'button is-danger', method: :delete %>
                      </div>
                    </div>
                  </nav>
                </div>
              </article>
            </div>
          </div>
        </div>

        <div class="column"></div>
      </div>
    </div>
  </div>
</main>
