<%= render 'notifications' %>
<nav class="level">
  <div class="level-item">
    <%= link_to 'New Photo', new_dashboard_photo_path, class: 'button is-primary' %>
  </div>
</nav>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Preview</th>
      <th>Alt Text</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td>
          <%= link_to dashboard_photo_path(photo) do %><%= image_tag photo.thumbnail_url, alt: photo.alt %><% end %>
        </td>
        <td><%= photo.alt %></td>
        <td><%= time_tag(photo.created_at, photo.created_at.strftime('%Y-%m-%d')) %></td>
        <td><%= time_tag(photo.updated_at, photo.updated_at.strftime('%Y-%m-%d')) %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot><%= paginate @photos %></div></tfoot>
</table>
