<div class="columns is-centered mt-4">
  <div class="column is-three-fifths">
    <%= render 'notifications' %>
    <div class="card">
      <div class="card-content">
        <div class="container has-text-centered pb-4">
          <h1 class="title has-text-dark">New Photo</h1>
        </div>

        <%= form_for(@photo, url: dashboard_photos_path(@photo)) do |f| %>
          <div class="field">
            <div class="file is-boxed is-fullwidth">
              <%= f.label :file, class: 'file-label' do %>
                <%= f.file_field :file, class: 'file-input' %>
                <span class="file-cta">
                  <span class="file-icon"><i class="fas fa-upload"></i></span>
                  <span class="file-label has-text-centered">Add photo</span>
                </span>
              <% end %>
            </div>
          </div>

          <%= render partial: 'photo_fields', locals: { f: f } %>

          <%= f.submit "Create photo", class: 'button is-primary is-large is-fullwidth' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
