<header class="container pt-4 pb-4">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= root_path %>">
          <h1 class="title"><%= site_name %></h1>
        </a>
      </div>

      <% if user_signed_in? %>
      <ul class="navbar-start">
        <li class="navbar-item is-size-4"><%= link_to 'Posts', dashboard_posts_path, class: 'has-text-dark' %></li>
        <li class="navbar-item is-size-4"><%= link_to 'Photos', dashboard_photos_path, class: 'has-text-dark' %></li>
        <li class="navbar-item is-size-4"><%= link_to 'Shortlinks', dashboard_shortlinks_path, class: 'has-text-dark' %></li>
      </ul>
      <% end %>

      <ul class="navbar-end">
        <li class="navbar-item">
          <%= link_to destroy_user_session_path, method: :delete, class: 'button is-dark' do %>
            <span class="icon is-small">
              <i class="fas fa-sign-out-alt"></i>
            </span>
            <span>Log out</span>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
