<div class="field">
  <%= f.label :name, class: 'label' %>
  <div class="control"><%= f.text_field :name, class: 'input' %></div>
</div>

<div>
  <%= f.label :slug, class: 'label' %>
  <div class="control"><%= f.text_field :slug, class: 'input' %></div>
</div>

<div class="field" data-controller="counter" data-counter-warn="265" data-counter-danger="280">
  <%= f.label :content, class: 'label' %>
  <div class="control"><%= f.text_area :content, class: 'textarea', autofocus: true, data: { target: 'counter.input', action: 'keydown->counter#recount keyup->counter#recount' } %></div>
  <p class="help"><span data-target="counter.count"></span> character(s)</p>
</div>

<div class="field">
  <%= f.label :summary, class: 'label' %>
  <div class="control"><%= f.text_area :summary, class: 'textarea' %></div>
</div>

<div class="field">
  <%= f.label :category_names, 'Categories', class: 'label' %>
  <div class="control"><%= f.text_field :category_names, class: 'input' %></div>
</div>

<div class="field">
  <%= f.label :bookmark_of_url, 'Bookmark of URL', class: 'label' %>
  <div class="control"><%= f.text_field :bookmark_of_url, class: 'input' %></div>
</div>

<div class="field">
  <%= f.label :in_reply_to_url, 'In Reply to URL', class: 'label' %>
  <div class="control"><%= f.text_field :in_reply_to_url, class: 'input' %></div>
</div>

<div class="field">
  <%= f.label :like_of_url, 'Like of URL', class: 'label' %>
  <div class="control"><%= f.text_field :like_of_url, class: 'input' %></div>
</div>

<div class="field">
  <%= f.label :repost_of_url, 'Repost of URL', class: 'label' %>
  <div class="control"><%= f.text_field :repost_of_url, class: 'input' %></div>
</div>
