<div class="field">
  <%= f.label :name, class: 'label' %>
  <div class="control"><%= f.text_field :name, class: 'input' %></div>
</div>

<div>
  <%= f.label :slug, class: 'label' %>
  <div class="control"><%= f.text_field :slug, class: 'input' %></div>
</div>

<div class="field" data-controller="counter" data-counter-warn="265" data-counter-danger="280">
  <%= f.label :content, class: 'label' %>
  <div class="control"><%= f.text_area :content, class: 'textarea', autofocus: true, data: { target: 'counter.input', action: 'keydown->counter#recount keyup->counter#recount' } %></div>
  <p class="help"><span data-target="counter.count"></span> character(s)</p>
</div>

<div class="field">
  <%= f.label :summary, class: 'label' %>
  <div class="control"><%= f.text_area :summary, class: 'textarea' %></div>
</div>

<div class="field">
  <%= f.label :category_names, 'Categories', class: 'label' %>
  <div class="control"><%= f.text_field :category_names, class: 'input' %></div>
</div>

<div class="box">
  <h3 class="is-size-4">Featured Photos</h3>
  <%= f.fields_for :featured_photo_attachments do |attachment_fields| %>
    <%= attachment_fields.fields_for :attachable_attributes do |photo_fields| %>
      <div class="field">
        <div class="file is-boxed is-fullwidth">
          <%= photo_fields.label :file, class: 'file-label' do %>
            <%= photo_fields.file_field :file, class: 'file-input' %>
            <span class="file-cta">
              <span class="file-icon"><i class="fas fa-upload"></i></span>
              <span class="file-label has-text-centered">Add photo</span>
            </span>
          <% end %>
        </div>
      </div>

      <div class="field">
        <%= photo_fields.label :alt, 'Alt Text', class: 'label' %>
        <div class="control"><%= photo_fields.text_field :alt, class: 'input' %></div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="box">
  <h3 class="is-size-4">Photos</h3>
  <%= f.fields_for :photo_attachments do |attachment_fields| %>
    <%= attachment_fields.fields_for :attachable_attributes do |photo_fields| %>
      <div class="field">
        <div class="file is-boxed is-fullwidth">
          <%= photo_fields.label :file, class: 'file-label' do %>
            <%= photo_fields.file_field :file, class: 'file-input' %>
            <span class="file-cta">
              <span class="file-icon"><i class="fas fa-upload"></i></span>
              <span class="file-label has-text-centered">Add photo</span>
            </span>
          <% end %>
        </div>
      </div>

      <div class="field">
        <%= photo_fields.label :alt, 'Alt Text', class: 'label' %>
        <div class="control"><%= photo_fields.text_field :alt, class: 'input' %></div>
      </div>
    <% end %>
  <% end %>
</div>
