<main id="main" aria-role="main">
  <section id="about" class="hero is-medium is-dark">
    <div class="hero-body">
      <%= render partial: 'partials/notifications' %>
      <div class="columns mt-4">
        <div class="column"></div>

        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-content">
              <div class="container has-text-centered pb-4">
                <h1 class="title has-text-dark">Log in</h1>
              </div>

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :email, class: 'label' %>
                  <div class="control"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %></div>
                </div>

                <div class="field">
                  <%= f.label :password, class: 'label' %>
                  <div class="control"><%= f.password_field :password, autocomplete: "current-password", class: 'input' %></div>
                </div>

                <div class="field">
                  <div class="control">
                    <%= f.label :remember_me, class: 'checkbox' do %>
                      <%= f.check_box :remember_me, class: 'checkbox' %>
                      Remember me
                    <% end %>
                  </div>
                </div>

                <div class="field is-grouped">
                  <div class="control">
                    <%= f.submit "Log in", class: 'button is-link' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="column"></div>
      </div>
    </div>
  </div>
</main>
