<main id="main" aria-role="main">
  <section class="section">
    <div class="container pb-6">
      <%= render partial: 'partials/notifications' %>
        <nav class="level">
          <div class="level-item">
            <%= link_to 'New Post', new_post_path, class: 'button is-info' %>
          </div>
        </nav>
        <table class="table">
          <thead>
            <tr>
              <td>Short UID</td>
              <td>Type</td>
              <td>Description</td>
              <td>Categories</td>
              <td>Published</td>
              <td>Created</td>
              <td>Updated</td>
            </tr>
          </thead>

          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= link_to post.short_uid, post_path(post) %></td>
                <td><%= post.post_type.titleize %></td>
                <td><%= post.name.present? ? post.name : (post.summary.present? ? post.summary : post.content) %></td>
                <td>
                  <% if Array(post.categories).any? %>
                  <div class="tags">
                    <% post.categories.each do |c| %><span class="tag">#<%= c %></span><% end %>
                  </div>
                  <% end %>
                </td>
                <td><%= post.published_at.present? ? time_tag(post.published_at) : 'Unpublished' %></td>
                <td><%= time_tag(post.created_at) %></td>
                <td><%= time_tag(post.updated_at) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container">
      <div class="columns">
        <div class="column"></div>

        <div class="column is-one-third"><%= paginate @posts %></div>

        <div class="column"></div>
      </div>
    </div>
  </section>
</main>
