<main id="main" aria-role="main">
  <section class="section">
    <div class="container pb-6">
      <%= render partial: 'partials/notifications' %>
      <div class="columns mt-4">
        <div class="column"></div>

        <div class="column is-three-fifths">
          <div class="card">
            <div class="card-content">
              <div class="container has-text-centered pb-4">
                <h1 class="title has-text-dark">New Post</h1>
              </div>

              <%= form_for(@post) do |f| %>
                <div class="field">
                  <%= f.label :name, class: 'label' %>
                  <div class="control"><%= f.text_field :name, class: 'input' %></div>
                </div>

                <div>
                  <%= f.label :slug, class: 'label' %>
                  <div class="control"><%= f.text_field :slug, class: 'input' %></div>
                </div>

                <div class="field">
                  <%= f.label :content, class: 'label' %>
                  <div class="control"><%= f.text_area :content, class: 'textarea', autofocus: true %></div>
                </div>

                <div class="field">
                  <%= f.label :summary, class: 'label' %>
                  <div class="control"><%= f.text_area :summary, class: 'textarea' %></div>
                </div>

                <div class="field is-grouped">
                  <div class="control">
                    <%= f.submit "Create post", class: 'button is-link' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="column"></div>
      </div>
    </div>
  </section>
</main>
